body{
    background-image: url('img/1822025.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-style:italic;  color: blue;
}

table{
    color: cyan;
}

h3{
    font-size: 25px;
    color: blueviolet;
}
